@import "var";
@import "step";

.instructor-app {
  background-color: #F8F8F8;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5vh;
  min-height: 100vh;
  overflow: hidden;
  input {
    font-size: 16px;
    @include sm{
      font-size: 18px;
    }

    &::placeholder {
      color: #999999;
    }
  }
  &__hero{
    width: 100%;
    text-align: center;
    padding: 20px;
    background: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  }
  &__wrapper {
    height: calc(90vh - 100px);
    overflow: auto;
    padding: 35px 16px 55px;
    max-width: 488px;
    background: #FFFFFF;
    box-shadow: 0 0 18px 9px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    margin: 0 16px;
    box-sizing: border-box;
    @include sm{
      padding: 30px 36px 65px;
    }
    @include lg{
      padding: 30px 56px 65px;
      min-width: 700px;
    }
  }

  &__title {
    font-size: 27px;
    line-height: 35px;
    font-weight: bold;
    margin: 0 0 35px;
    color: #333333;
    @include sm{
      font-size: 29px;
    }
    @include lg {
      margin-bottom: 55px;
    }
  }
  &__subtitle{
    font-size: 18px;
    font-weight: 400;
    color: #333333;
    margin: 0 0 35px;
    position: relative;
    @include xs{
      margin: 0 0 9px;
    }
    @include sm{
      font-size: 20px;
      margin-bottom: 17px;
    }
    &::before{
      position: absolute;
      content: "Required fields *";
      left: 0;
      bottom: -25px;
      color: #666666;
      font-size: 12px;
      @include xs{
        right: 0;
        left: auto;
        bottom: auto;
      }
      @include lg{
        font-size: 15px;
      }
    }
  }
  &__description{
    color: #333333;
    max-width: 400px;
    margin: 0 0 24px;
    @include lg{
      margin-bottom: 30px;
    }
  }
  &__buttons{
    display: flex;
    gap: 10px;
    margin-bottom: 35px;
    @include sm{
      margin-bottom: 45px;
    }
    @include lg{
      margin-bottom: 65px;
    }
    .whoflex-button{
      width: 50%;
      display: inline-block;
      font-size: 18px;
      &__prev{
        background-color: #000;
        @include lg{
          &:hover{
            background-color: grey;
          }
        }
      }
    }
  }
  &__wrap-input{
    margin-bottom: 11px;
    @include sm{
      margin-bottom: 18px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }
  .whoflex-textarea{
    border-radius: 6px;
    line-height: 21px;
    @include lg{
      border-radius: 10px;
    }
  }
  .whoflex-input{
    padding: 14px 16px;
    @include sm{
      padding: 21px 16px;
    }
    &:focus-visible, &:focus{
      border: 2px solid #E0C463 !important;
    }
  }
  .helper-text{
    color: #666666;
  }
}


// iput file styles //

.input-file {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  &__wrapper{
    position: relative;
    @include lg{
      margin-bottom: 27px;
    }
    &.upload{
      .input-file{
        &__button-text{
          font-weight: 400;
          font-size: 17px;
          line-height: 21px;
          color: #111111;
          border-bottom: 2px solid transparent;
        }
        &__button{
          justify-content: flex-start;
          background-color: #EFF3FE;
          border: 1px solid #276EF1;
          margin-bottom: 11px;
          &-text{
            width: calc(100% - 40px);
          }
        }
      }
      .icon-done{
        display: block;
      }
    }
    .upload-bottom{
      display: flex;
      justify-content: space-between;
    }
    .tryAgain, .comment_delete{
      border: none;
      background-color: transparent;
      color: #e0c463;
      font-weight: 700;
      font-size: 14px;
      line-height: 21px;
    }
    .comment_delete{
      height: 15px;
      width: 15px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url('./../images/icons/delete.png');
    }
    .icon-done{
      display: none;
      position: absolute;
      right: 18px;
    }
  }

  &__text-upload{
    font-size: 14px;
    color: #111111;
    margin-bottom: 0 !important;
  }
  &__button-text {
    line-height: 1;
    margin-top: 1px;
    border-bottom: 2px solid transparent;
    &:hover{
      border-bottom: 2px solid #E0C463;
    }
  }
  &__button {
    color: #E0C463;
    font-size: 16px;
    font-weight: 700;

    width: 100%;
    max-width: none !important;
    min-height: 62px;

    display: -webkit-box;
    display: -ms-flexbox;
    display: flex !important;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: center;

    padding: 15px 20px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 6px;

    cursor: pointer;
    overflow: hidden;
    @include lg{
      font-size: 17px;
      border-radius: 10px;
    }
  }
  &__svg{
    margin-right: 18px;
  }
}