@import "var";
.wrap{
  &-step1{
    @include lg{
      .whoflex-button__next{
        margin-bottom: 64px;
      }
    }
  }
  &-step2{
    .instructor-app__subtitle{
      margin: 0 0 9px;
      @include sm{
        margin-bottom: 17px;
      }
      &::before{
        content: none;
      }
    }
  }
  &-step3{
    font-size: 15px;
    @include lg{
      font-size: 14px;
    }
    .whoflex-agreement{
      font-size: 14px;
      margin-bottom: 15px;
      color: #111111;
      @include lg{
        margin-bottom: 22px;
      }
      .whoflex-checkbox+label{
        flex-wrap: wrap;
        .whoflex-link{
          padding: 0 8px;
          &:last-child{
            padding-right: 0;
          }
        }
      }
      .whoflex-checkbox:checked+label::before{
        border-color: #000000;
        background-color: #000000;
      }
      .whoflex-checkbox+label::before{
        width: 20px;
        height: 20px;
      }
      .whoflex-checkbox:checked+label{
        font-weight: 400;
      }
    }
  }
}
.step{
  line-height: 21px;
  margin-bottom: 24px;
  @include lg{
    margin-bottom: 30px;
  }
  &2{
    .instructor-app__buttons{
      @include lg{
        max-width: 570px;
      }
    }
  }
  &__wrapper{
    display: flex;
    gap: 6px;
    @include lg{
      gap: 10px;
    }
  }
  &__point{
    color: #666666;
    width: 33.3%;
    position: relative;
    &::before{
      position: absolute;
      top: 30px;
      left: 0;
      content: '';
      height: 7px;
      width: 100%;
      border-radius: 100px;
      background-color: #E9E9E9;
    }
    &.active{
      color: #E0C463;
      &::before{
        background-color: #E0C463;
      }
    }
  }
  textarea {
    resize: none;
  }
}