<div class="step wrap-step1">
    <h2 class="instructor-app__subtitle">1. Personal information</h2>
    <div>
        <div class="instructor-app__wrap-input">
            <input class="whoflex-input" type="text" id="firstName" placeholder="First Name*" required/>
        </div>
        <div class="instructor-app__wrap-input">
            <input class="whoflex-input" type="text" id="lastName" placeholder="Last Name*" required/>
        </div>
        <div class="instructor-app__wrap-input">
            <input class="whoflex-input" type="email" id="email" placeholder="Email*" onchange="checkEmailValidation()" required/>
            <span class="mt-8 text-red helper-text" id="error-message">Please enter a valid email</span>
            <span class="mt-8 d-block text-gray helper-text">Your email address will be used for your Whoflex Instructor Account login once your application is accepted.</span>
        </div>
        <div class="instructor-app__wrap-input whoflex-input__wrap">
            <input class="whoflex-input password" type="password" id="password" placeholder="Password*" onkeyup="checkPassValidation()" required/>
            <span class="showPass">Show</span>
            <span class="mt-8 d-block text-gray helper-text">
                <span id="passHelpText">Your password must be at least 6 characters.</span>
                The password will be used for your Whoflex Instructor Account login once your application is accepted.</span>
        </div>
        <div class="instructor-app__wrap-input">
            <input class="whoflex-input" type="text" placeholder="Linkedin profile URL"/>
        </div>
        <div class="instructor-app__wrap-input">
            <input class="whoflex-input" type="text" placeholder="Twitter URL"/>
        </div>
        <div class="instructor-app__wrap-input">
            <input class="whoflex-input" type="text" placeholder="Website URL"/>
        </div>
    </div>
</div>