<div class="step step-3">
    <h2 class="instructor-app__subtitle">3. Qualifications</h2>
    <div class="whoflex-textarea__wrap">
        <label for="other-topics">Are there any other topics not listed here that you are qualified to teach or to coach? (100 character limit)</label>
        <textarea class="whoflex-textarea" id="other-topics" name="other-topics" maxlength="100"></textarea>
    </div>

    <div class="whoflex-textarea__wrap">
        <label for="classes-coaching">Please tell us about classes or coaching you’d like to offer at Whoflex (2000 character limit)*</label>
        <textarea class="whoflex-textarea" id="classes-coaching" name="classes-coaching" maxlength="2000" required></textarea>
    </div>

    <div class="whoflex-textarea__wrap">
        <label for="share-link">Share a link to one of your videos which may help us to review your Whoflex application. (2000 character limit)</label>
        <textarea class="whoflex-textarea" id="share-link" name="share-link" maxlength="2000"></textarea>
    </div>
    <div class="whoflex-textarea__wrap input-file__wrapper">
        <p>Please Upload Your Resume Here</p>
        <input class="input-file" id="input-file" type="file"/>
        <label for="input-file" class="input-file__button">
            <svg class="input-file__svg" width="22" height="22" viewBox="0 0 22 22" fill="none">
                <path d="M14.2507 5.99996L7.20899 12.5C6.77801 12.8978 6.53589 13.4374 6.53589 14C6.53589 14.5626 6.77801 15.1021 7.20899 15.5C7.63997 15.8978 8.2245 16.1213 8.83399 16.1213C9.44348 16.1213 10.028 15.8978 10.459 15.5L17.5007 8.99996C18.3626 8.20432 18.8469 7.12518 18.8469 5.99996C18.8469 4.87475 18.3626 3.79561 17.5007 2.99996C16.6387 2.20432 15.4696 1.75732 14.2507 1.75732C13.0317 1.75732 11.8626 2.20432 11.0007 2.99996L3.95899 9.49996C2.66606 10.6934 1.9397 12.3121 1.9397 14C1.9397 15.6878 2.66606 17.3065 3.95899 18.5C5.25192 19.6934 7.00551 20.3639 8.83399 20.3639C10.6625 20.3639 12.4161 19.6934 13.709 18.5L20.7507 12" stroke="#666666" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <span class="input-file__button-text">Add file or drop file here</span>
        </label>
    </div>

    <div class="whoflex-agreement">We may use the data you provide to review your application and contact you with information about Whoflex products. To learn more, see our
        <a href="#" target="_blank" class="whoflex-link">Privacy Policy</a>.
    </div>

    <div class="whoflex-agreement">
        <input type="checkbox" id="agreement" name="agreement" class="whoflex-checkbox">
        <label for="agreement">
            I accept Whoflex's
            <a href="#" class="whoflex-link" target="_blank">Terms of Use</a> and
            <a href="#" class="whoflex-link" target="_blank">Privacy Policy</a>.
        </label>
    </div>

</div>