<div class="step step-3">
    <h2 class="instructor-app__subtitle">3. Qualifications</h2>
    <div class="whoflex-textarea__wrap">
        <label for="other-topics">Are there any other topics not listed here that you are qualified to teach or to coach? (100 character limit)</label>
        <textarea class="whoflex-textarea" id="other-topics" name="other-topics" maxlength="100"></textarea>
    </div>

    <div class="whoflex-textarea__wrap">
        <label for="classes-coaching">Please tell us about classes or coaching you’d like to offer at Whoflex (2000 character limit)*</label>
        <textarea class="whoflex-textarea" id="classes-coaching" name="classes-coaching" maxlength="2000" required></textarea>
    </div>

    <div class="whoflex-textarea__wrap">
        <label for="share-link">Share a link to one of your videos which may help us to review your Whoflex application. (2000 character limit)</label>
        <textarea class="whoflex-textarea" id="share-link" name="share-link" maxlength="2000"></textarea>
    </div>
    <div class="whoflex-textarea__wrap">
        <label for="share-link">Please Upload Your Resume Here</label>
        <input class="whoflex-input" id="upload-file" type="file"/>
    </div>

    <div class="whoflex-agreement">We may use the data you provide to review your application and contact you with information about Whoflex products. To learn more, see our
        <a href="#" target="_blank" class="whoflex-link">Privacy Policy</a>.
    </div>

    <div class="whoflex-agreement">
        <input type="checkbox" id="agreement" name="agreement" class="whoflex-checkbox">
        <label for="agreement">
            I accept Whoflex's
            <a href="#" class="whoflex-link" target="_blank">Terms of Use</a> and
            <a href="#" class="whoflex-link" target="_blank">Privacy Policy</a>.
        </label>
    </div>

</div>