@import "src/scss/components/var";

.notebook{
  height: 100vh;
  padding: 65px 0;
  &__wrap{
    max-width: 840px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .wrap-textarea{
    margin-bottom: 11px;
    position: relative;
  }
  .comment{
    position: absolute;
    z-index: 1;
    display: inline-block;
    width: 78px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    padding: 0;
    font-weight: 400;
    text-transform: none;
    bottom: 10px;
    right: 10px;
  }
  .accordion{
    max-width: none;
    &__item{
      margin-bottom: 45px;
      &:first-child{
        .accordion__title-text{
          border: none;
        }
      }
      &.is-open{
        .accordion__title-text{
          &::after{
            right: 37px;
          }
          &::before, &::after{
            top: calc(50% - 0px);
          }
        }
      }
    }
    &__title-text{
      background: #E4E4E4;
      border-radius: 10px;
      border: none;
      padding: 10px 50px 10px 20px;
      font-weight: 700;
      font-size: 15px;
      line-height: 23px;
      color: #111111;
      @include sm{
        font-size: 18px;
      }
      @include md{
        line-height: 37px;
      }
      &::before{
        right: 28px;
        top: calc(50% + 2px);
      }
      &::after{
        right: 28px;
        top: calc(50% - 6px);
      }
    }
    &__body{
      border: none;
    }
    &__body-wrap{
      position: relative;
      padding: 25px 0;
      &:not(:last-child) {
        border-bottom: 1px solid #ddd;
      }
    }
    &__audio{
      color: #e0c463;
      display: flex;
      align-items: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 31px;
      margin: 0;
      width: calc(100% - 100px);
      @include sm{
        font-size: 18px;
      }
      svg{
        margin-right: 17px;
      }
    }
    &__svg{
      button{
        background: transparent;
        border: none;
        position: absolute;
        top: 30px;
        @include md{
          &:hover{
            path{
              transition: .4s;
              fill: black;
              stroke: black;
            }
          }
        }
      }
    }
    &__notebook-text{
      max-width: 570px;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #666;
      margin: 0 0 0 35px;
      @include sm{
        font-size: 16px;
      }
      &[contenteditable="true"]:active,
      &[contenteditable="true"]:focus{
        border: 1px solid #e0c463;
        outline:none;
        border-radius: 10px;
        padding: 15px 20px;
        background-color: #fff;
      }
    }
    .notebook__edit{
      right: 35px;
    }
    .notebook__delete{
      right: 0;
    }
  }
}
.wrap-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #666666;
  line-height: 31px;
  padding-bottom: 42px;
  border-bottom: 1px solid #CCCCCC;
  margin-bottom: 50px;
  font-size: 14px;
  @include sm{
    font-size: 17px;
  }
  p{
    margin: 0;
  }
}