@import "src/scss/components/var";

.notebook{
  height: 100vh;
  padding: 65px 0;
  display: flex;

  max-width: 1200px;
  margin: 0 auto;
  gap: 30px;
  &__wrap{
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }
  &__search{
    display: none;
    @include xxxl{
      display: flex;
      flex-direction: column;
      order: 1;
      max-width: 350px;
      width: 100%;
    }
  }
  .wrap-textarea{
    margin-bottom: 11px;
    position: relative;
    border: none !important;
    outline: 1px solid black;
  }
  .comment{
    position: absolute;
    z-index: 1;
    display: inline-block;
    width: 78px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
    padding: 0;
    font-weight: 400;
    text-transform: none;
    bottom: 10px;
    right: 10px;
  }
  .arent__text{
    color: #000000;
  }
  .arent__wrap-img{
    margin-bottom: 0;
  }
  .whoflex-textarea{

    @include lg{
      padding: 20px;
      font-size: 17px;
    }
    &::placeholder{
      @include l{
        font-size: 18px;
      }
    }
  }
  .accordion{
    max-width: none;
    &__item{
      margin-bottom: 25px;
      &:first-child{
        .accordion__title-text{
          border: none;
        }
      }
      &.is-open{
        .accordion__title-text{
          &::after{
            right: 37px;
          }
          &::before, &::after{
            top: calc(50% - 0px);
          }
        }
        .accordion__body{
          padding: 0;
        }
      }
    }
    &__title-text{
      border-radius: 10px;
      border: 1px solid #CCCCCC;
      padding: 10px 50px 10px 20px;
      font-weight: 700;
      font-size: 15px;
      line-height: 23px;
      color: #111111;
      @include sm{
        font-size: 18px;
      }
      @include md{
        line-height: 37px;
        font-size: 20px;
      }
      &::before{
        right: 28px;
        top: calc(50% + 2px);
      }
      &::after{
        right: 28px;
        top: calc(50% - 6px);
      }
    }
    &__body{
      border: none;
    }
    &__body-wrap{
      position: relative;
      &:first-child{
        padding: 20px 0 45px;
      }
      &:not(:first-child) {
        padding: 25px 0 45px;
      }
      &:not(:last-child) {
        border-bottom: 1px solid #ddd;
      }
    }
    &__audio{
      color: #e0c463;
      display: flex;
      font-weight: 700;
      font-size: 16px;
      margin: 0 0 10px;
      width: calc(100% - 75px);
      @include sm{
        font-size: 18px;
        line-height: 31px;
        margin-bottom: 3px;
        margin-left: 10px;
        width: calc(100% - 100px);
      }
      span{
        width: calc(100% - 37px);
      }
      svg{
        width: 20px;
        margin-right: 10px;
        margin-top: 3px;
        @include sm{
          margin-right: 8px;
          margin-top: 5px;
        }
      }
    }
    &__svg{
      button{
        background: transparent;
        border: none;
        position: absolute;
        bottom: 13px;
        @include md{
          &:hover{
            path{
              transition: .4s;
              fill: black;
            }
          }
        }
      }
    }
    &__notebook-wrap-text{
      overflow: hidden;
      border-radius: 10px;
    }
    &__notebook-text{
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: #666;
      margin: 0 0 0 30px;
      overflow-wrap: anywhere;
      @include sm{
        font-size: 16px;
        margin: 0 35px 0 39px;
      }
      &[contenteditable="true"]:active,
      &[contenteditable="true"]:focus{
        border: 1px solid #e0c463;
        outline:none;
        border-radius: 10px;
        padding: 15px 20px;
        background-color: #fff;
      }
    }
    .notebook__edit{
      right: 35px;
    }
    .notebook__delete{
      right: 0;
    }
  }
}
.wrap-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #666666;
  line-height: 31px;
  margin-bottom: 50px;
  font-size: 14px;
  @include sm{
    font-size: 17px;
  }
  p{
    margin: 0;
  }
}
.search{
  background: #fff;
  border-radius: 10px;
  padding: 30px 15px 20px;
  box-shadow: 0 5px 30px rgb(0 0 0 / 10%);
  &__title{
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 10px;
    line-height: 1.2;
  }
  &__input-wrap{
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    input{
      box-sizing: border-box;
      display: block;
      width: 100%;
      height: 46px;
      font-size: 16px;
      line-height: 46px;
      background: #eeeeee;
      padding: 0 50px 0 15px;
      border: 0;
      &::placeholder{
        color: #999;
      }
      &:focus-visible, &:focus{
        outline: none;
      }
    }
    button{
      width: 46px;
      height: 46px;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      border: none;
    }
  }
}





.reply_textarea.reply_textarea_big {
  border: 1px solid #e1e1e1;
  background: #fff;
  overflow: hidden;
  transition: border-color 0.3s;
  position: relative;
  padding: 10px 0 0;
  max-width: 840px;
  margin: 0 auto 50px;
  border-radius: 5px;
}
.reply_textarea.focus {
  border-color: #e0c463;
  border-width: 2px;
  box-shadow: 0 7px 20px rgb(224 196 99 / 10%);
}
.reply_textarea.reply_textarea_big textarea {
  min-height: 75px;
  display: block;
  width: calc(100% - 30px);
  line-height: 1.6;
  font-family: 'Arial', serif;

  font-size: 15px;
  border-radius: 5px;
  padding: 0 15px;
  transition: height 0.3s;
  border: 0;
  color: #111;
  &:focus{
    outline: none;
    min-height: 65px;
    margin: 0 0 10px;
    border: 0;
  }
  &::placeholder{
    font-family: 'Arial', sans-serif;
    font-weight: 400;
    font-size: 15px;
  }
}

.button_reply_wrap {
  display: none;
  height: 40px;
  padding-right: 10px;
  padding-bottom: 10px;
  background: #fff;
  text-align: right;
}
.button_reply {
  display: inline-block;
  width: 78px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  background: #e0c465;
  border: none;
  transition: .4s;
  &:hover{
    background: black;
  }
}
.reply_textarea textarea:focus + .button_reply_wrap {
  display: block;
}
.reply_textarea.reply_textarea_big .button_reply_wrap {
  border-radius: 10px;
}