@import "components/var";
@font-face {
	font-family: 'Arial', sans-serif;
	src: url(../fonts/Arialn.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'Arial', sans-serif;
	src: url(../fonts/ArialTh.ttf);
	font-weight: 500;
}

@font-face {
	font-family: 'Arial', sans-serif;
	src: url(../fonts/ARIBL0.ttf);
	font-weight: 700;
}

@font-face {
	font-family: 'Arial', sans-serif;
	src: url(../fonts/G_ari_bd.TTF);
	font-weight: 600;
}
@font-face {
	font-family: 'passstar';
	src: url('./../fonts/passStar/passstar.eot');
	src: url('./../fonts/passStar/passstar.eot') format('embedded-opentype'),
	url('./../fonts/passStar/passstar.woff') format('woff'),
	url('./../fonts/passStar/passstar.ttf') format('truetype'),
	url('./../fonts/passStar/passstar.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
input[type="password"] {
	transition: none;
	line-height: 1rem;
	font-family: "passstar", sans-serif;
	font-size: 17px !important;
	letter-spacing: 0.1em;
}
input.fs10{
	&[type="password"] {
		font-size: 10px !important;
	}
}
input{
	transition: none !important;
}
input::placeholder{
	font-family: 'Arial', sans-serif !important;
	letter-spacing: normal;
}

$--sm: 576px;

body {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Arial', sans-serif;
	font-size: 16px;
	line-height: 23px;

}

a,
button {
	cursor: pointer;
}

/* ######### Utility CSS ######### */
.text-center {
	text-align: center;
}

.text-right {
	text-align: right;
}

.d-block {
	display: block !important;
}

.d-none {
	display: none !important;
}

.d-flex {
	display: flex;
}

.justify-between {
	justify-content: space-between;
}

.main-text-color {
	color: #e0c463;
}

.main-bg-color {
	color: #e0c463;
}

.text-red {
	color: #ea4335 !important;
}

.text-gray {
	color: #999999;
}

.w-100 {
	width: 100%;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-4 {
	margin-bottom: 4px;
}

.mb-6 {
	margin-bottom: 6px;
}


.mb-8 {
	margin-bottom: 8px;
}

.mb-12 {
	margin-bottom: 12px;
}

.mb-16 {
	margin-bottom: 16px;
}

.mb-17 {
	margin-bottom: 17px;
}


.mb-20 {
	margin-bottom: 20px;
}

.mb-24 {
	margin-bottom: 24px;
}

.mb-26 {
	margin-bottom: 26px;
}
.mb-35 {
	margin-bottom: 35px;
}

.mt-0 {
	margin-top: 0;
}

.mt-4 {
	margin-top: 4px;
}

.mt-8 {
	margin-top: 8px;
}

.mt-24 {
	margin-top: 24px;
}

.mt-36 {
	margin-top: 36px;
}

.mt-48 {
	margin-top: 48px;
}
.mt-40 {
	margin-top: 40px;
}
.mt-45 {
	margin-top: 45px;
}

.mt-50 {
	margin-top: 50px;
}


.mt-60 {
	margin-top: 60px;
}

.mt-90 {
	margin-top: 90px;
}


.ml-10 {
	margin-left: 10px;
}

.ml-12 {
	margin-left: 12px;
}

.mr-8 {
	margin-right: 8px;
}

.mr-12 {
	margin-right: 12px;
}

.helper-text {
	font-family: 'Arial';
	font-weight: 400;
	font-size: 14px;
}
.whoflex-logo {
	max-width: 130px;
	margin-bottom: 8px;
}
@media only screen and (min-width: $--sm) {
	.whoflex-logo {
		max-width: 200px;
	}
}

@media only screen and (max-width: 380px) {
	.whoflex-logo {
		max-width: 100px;
	}
}
@media only screen and (max-width: $--sm){
	.whoflex-moto {
		display: none;
	}
	.whoflex-modal-hero{
		top: 0;
		width: 100%;
		left: 0;
		position: fixed;
		background: #fff;
		z-index: 1;
		padding: 20px 0 10px;
		box-shadow: rgb(0 0 0 / 10%) 0px 2px 2px;
	}
}
@media only screen and (min-width: $--sm){
	.whoflex-signup-modal{
		.whoflex-modal-hero {
			display: none;
		}
	}
}


.whoflex-moto {
	font-family: 'Arial';
	font-weight: 400;
	font-size: 16px;
	text-align: center;
	color: #000000;
}

.whoflex-or {
	position: relative;
	text-align: center;
	font-family: 'Arial';
	font-weight: 400;
	font-size: 18px;
	color: #a29f9f;
	margin: 30px 0;
}

.whoflex-or::after,
.whoflex-or::before {
	content: '';
	position: absolute;
	top: 50%;
	height: 1px;
	background-color: #ccc;
	width: 46%;
}

.whoflex-or::before {
	left: 0;
}

.whoflex-or::after {
	right: 0;
}

/* ######### Modal CSS ######### */
.whoflex-modal-title{
	font-size: 20px;
	margin: 0 0 24px;
}
.whoflex-modal-title-sing-up{
	margin-bottom: 32px;
}
@media only screen and (min-width: $--sm) {
	.whoflex-modal-title{
		display: none;
	}
}

.whoflex-signin-modal,
.whoflex-signup-modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
	overflow-y: hidden;
}
@media only screen and (max-width: $--sm) {
	.whoflex-signin-modal-content, .whoflex-signup-modal-content {
		width: 100%;
	}
}
.whoflex-modal-content, .whoflex-signup-modal-content {
	box-sizing: border-box;
	background-color: white;
	input[type="password"] {
		font-size: 10px !important;
	}
}
@media only screen and (min-width: $--sm) {
	.whoflex-signin-modal, .whoflex-signup-modal{
		overflow-y: auto;
	}
	.whoflex-modal-content, .whoflex-signup-modal-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		max-height: 85vh;
		overflow: hidden;
	}
	.whoflex-modal-content{
		border-radius: 0.5rem;
	}
	.whoflex-signup-modal-content{
		border-radius: 12px;
	}
}


.whoflex-signin-modal-content {
	width: 482px;
}

.whoflex-signin-close-button {
	width: 30px;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 8px;
	border: 2px solid transparent;
	border-radius: 30px;
	transition: 0.3s ease-in-out;
	padding: 5px;
	z-index: 2;
	@include xs{
		top: 10px;
	}
	@include sm{
		top: 8px;
	}
}
.whoflex-signup-wrap-input{
	@include md{
		display: flex;
		margin-bottom: 16px;
		gap: 12px;
	}
	.col{
		width: 100%;
		margin-bottom: 16px;
		@include md{
			margin-bottom: 0;
			width: 50%;
		}
	}
}
.whoflex-signup-close-button {
	width: 30px;
	cursor: pointer;
	position: absolute;
	right: 7px;
	top: 8px;
	border: 2px solid transparent;
	border-radius: 30px;
	transition: 0.3s ease-in-out;
	padding: 5px;
	z-index: 2;
	@include xs{
		top: 10px;
	}
	@include sm{
		top: 8px;
	}
}

.whoflex-signin-close-button:hover,
.whoflex-signup-close-button:hover {
	background-color: #eee;
}
@media only screen and (max-width: $--sm) {
	.whoflex-signin-show-modal,
	.whoflex-signup-show-modal{
		z-index: 100;
	}
}
.whoflex-signin-show-modal,
.whoflex-signup-show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}


/* ######### Input CSS ######### */


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-text-fill-color: #000 !important;
	-webkit-box-shadow: 0 0 0px 1000px #fff inset;
	transition: background-color 5000s ease-in-out 0s;
}


.whoflex-label {
	font-family: 'Arial';
	font-weight: 500;
	font-size: 15px;
	color: #000000;
	display: block;
	margin-bottom: 5px;
	margin-top: 0;
}

.whoflex-input {
	font-family: 'Arial';
	padding: 11.12px 12px;
	font-weight: 400;
	font-size: 14px;
	color: #000000;
	border: 1px solid #dddddd;
	border-radius: 5px;
	display: block;
	width: 100%;
	transition: all 0.3s ease-in-out;
	box-sizing: border-box;
	&.password{
		padding-right: 55px !important;
	}
}

.whoflex-input:focus,
.whoflex-input:focus-visible {
	border: 1px solid #e0c463;
	outline: none;
}
.whoflex-input__wrap{
	position: relative;
	.showPass{
		position: absolute;
		content: "";
		color: #E0C463;
		font-weight: 400;
		font-size: 13px;
		top: 37px;
		right: 15px;
		cursor: pointer;
		display: block;
	}
}

/* ######### BUtton CSS ######### */
.whoflex-button {
	font-family: 'Arial';
	font-weight: 700;
	font-size: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #ffffff;
	background: #e0c463;
	border-radius: 5px;
	display: block;
	width: 100%;
	transition: all 0.3s ease-in-out;
	border: 0;
	padding: 17.68px 12px;
	cursor: pointer;
}

@media only screen and (min-width: 991px){
	.whoflex-button:hover {
		background-color: #343434;
	}
}

.whoflex-social-button {
	font-family: 'Arial';
	height: 60px;
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 16px;
	color: #000000;
	border: 1px solid #000000;
	border-radius: 5px;
	width: 100%;
	padding: 0 16px;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
	margin-bottom: 14px;
	background-color: #fff;
}

.whoflex-social-button:hover {
	border: 1px solid #e0c463;
}

.whoflex-social-button svg {
	display: inline-block;
	/* margin-right: 12px; */
}

.whoflex-social-button span {
	display: inline-block;
}

.login-bottom-whoflex-link{
	font-size: 14px;
}

.whoflex-link {
	font-family: 'Arial';
	font-weight: 700;
	font-size: 14px;
	color: #E0C463;
	text-decoration-line: none;
	transition: 0.3s ease-in-out;
}
@media only screen and (max-width: 575px) {
	.whoflex-link {
		text-decoration-line: underline;
	}
}

.whoflex-link:hover {
	text-decoration-line: underline;
}

/* ######### Sign Up CSS ######### */
.signup-modal-container {
	display: flex;
	//min-height: 640px;
}

@media only screen and (max-width: $--sm) {
	.signup-modal-container, .whoflex-signin-wrap-modal {
		max-width: 380px;
		margin: 0 auto;
	}
}
.wrap-content-modal{
	padding: 100px 20px;
	overflow: auto;
	max-height: 70vh;
}
@media only screen and (min-width: $--sm){
	.wrap-content-modal{
		padding: 0;
	}
	.whoflex-signin-modal .wrap-content-modal{
		padding: 48px 42px 43px;
	}
}
@media only screen and (min-width: 1200px) {
	.signup-modal-container {
		max-height: 680px;
		height: auto;
	}
}
@media only screen and (max-width: 1200px) {
	.signup-modal-container {
		display: block;
	}
}

.signup-modal-left-container {
	width: 49%;
	position: relative;
	overflow: hidden;
}

@media only screen and (max-width: 1200px) {
	.signup-modal-left-container {
		display: none;
	}
}

.whoflex-signup-modal-content {
	width: 869px;
	padding: 0;
}

@media screen and (min-width: $--sm) and (max-width: 1200px) {
	.whoflex-signup-modal-content {
		width: 100%;
		max-width: 490px;
	}
}

.whoflex-left-text-container {
	position: absolute;
	left: 44px;
	bottom: 158px;
	color: #fff;
}

.whoflex-left-img {
	max-width: 100%;
	height: 100%;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.whoflex-left-text-container h3 {
	font-family: 'Arial';
	font-weight: 700;
	font-size: 34px;
	line-height: 41px;
	color: #ffffff;
	margin-bottom: 0;
	width: 70%;
}

.whoflex-left-text-container p {
	font-weight: 400;
	font-size: 18px;
	line-height: 23px;
	color: #FFFFFF;
	width: 90%;
}

.signup-modal-right-container {
	background-color: #fff;
	width: 51%;
}
@media only screen and (max-width: $--sm) {
	.signup-modal-right-container .mt-36{
		margin: 0;
	}
}
@media only screen and (min-width: $--sm) {
	.signup-modal-right-container{
		padding: 48px 54px 48px 42px;
		border-radius: 10px;
	}
}
@media only screen and (min-width: 1200px) {
	.signup-modal-right-container {
		width: auto;
		border-top-left-radius: 0;
		border-bottom-left-radius: 0;
	}
}
@media only screen and (max-width: 1200px) {
	.signup-modal-right-container {
		width: auto;
	}
}

.sign-back-button {
	font-family: 'Arial';
	font-weight: 400;
	font-size: 16px;
	color: #999999;
	display: flex;
	padding: 0;
	background-color: transparent;
	border: 0;
	align-items: center;
	cursor: pointer;
	transition: 0.3s ease-in-out;
}

.sign-back-button img {
	filter: none;
	transition: 0.3s ease-in-out;
}

.sign-back-button:hover {
	color: #000000;
}

.sign-back-button:hover img {
	filter: brightness(0%);
}

.whoflex-aggrement {
	font-family: 'Arial';
	font-weight: 400;
	font-size: 14px;
	color: #999999;
}
@media only screen and (max-width: $--sm) {
	.whoflex-aggrement{
		margin-top: 25px !important;
	}
}

/* ######### Instructor Application CSS ######### */
@import "components/instructor-app";

/* ######### Accordion CSS ######### */
.whoflex-checkbox{
	position: absolute;
	z-index: -1;
	opacity: 0;
	top: 0;
}
.whoflex-checkbox+label {
	display: inline-flex;
	align-items: center;
	user-select: none;
}
.whoflex-checkbox+label::before {
	content: '';
	display: inline-block;
	width: 25px;
	height: 25px;
	flex-shrink: 0;
	flex-grow: 0;
	border: 1px solid #999999;
	border-radius: 4px;
	margin-right: 13px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 50% 50%;
}
.whoflex-checkbox:checked+label::before {
	border-color: #DBBA74;
	background-color: #DBBA74;
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.whoflex-checkbox:checked+label{
	font-weight: 700;
}
.wrap-textarea{
	height: 120px;
	border-radius: 10px;
	border: 1px solid #DDDDDD;
	overflow: hidden;
	@include lg{
		height: 150px;
	}
	.whoflex-textarea{
		border-radius: 10px;
		height: 120px;
		border-color: transparent;
		@include lg{
			height: 150px;
		}
		&:focus-visible, &:focus{
			border-color: transparent!important;
			outline: 0!important;
		}
	}
}
.whoflex-textarea{
	box-sizing: border-box;
	border: 1px solid #DDDDDD;
	border-radius: 10px;
	width: 100%;
	min-height: 120px;
	padding: 8px 15px 23px;
	font-family: 'Arial';
	font-size: 14px;
	@include lg{
		min-height: 150px;
	}
	&:focus-visible, &:focus{
		border: 2px solid #E0C463 !important;
		outline: 0!important;
	}
	&__wrap{
		margin-bottom: 20px;
		p{
			margin: 0 0 5px;
		}

		label{
			display: block;
			margin-bottom: 5px;
		}
	}
}
@import "components/accordion";


.error-message{
	display: none;
}
.email.error{
	border: 1px solid #ea4335;
}
